.navbar_search {
  position: absolute;
  left: 40vw;
  width: 20vw;
}

.main_right_message_search {
  width: 90%;
  margin: 0 auto;
}

.navbar_search,
.main_right_message_search {
  background-color: var(--color-white);
  border-radius: 30px;
  display: flex;
  border: none;
  height: 4vh;
}

.navbar_search_icon,
.main_right_message_search_icon {
  text-align: center;
  font-size: 2vh;
  line-height: 3vh;
  width: 3vh;
  height: 3vh;
  margin: 0.5vh 0.5vh;
}

.navbar_search_input,
.main_right_message_search_input {
  width: 80%;
  background-color: var(--color-white);
  border: 0;
  outline: 0;
  font-size: 1.5vh;
  line-height: 3vh;
  height: 3vh;
  margin: 0.5vh 0;
}

.navbar_search_input::placeholder,
.main_right_message_search_input::placeholder {
  font-style: italic;
}
